# ClangTidy for NebulaEngine

Checks: '*,
-modernize-*,
-llvmlibc-*,
-fuchsia-*,
-abseil-*,

-hicpp-vararg,
-hicpp-use-auto,

-cppcoreguidelines-pro-type-union-access,
-cppcoreguidelines-avoid-magic-numbers,

-bugprone-easily-swappable-parameters,
-bugprone-lambda-function-name,

-google-readability-casting,

-misc-non-private-member-variables-in-classes,
-misc-use-anonymous-namespace,

-readability-magic-numbers,

-altera-struct-pack-align,
-altera-unroll-loops,
-altera-id-dependent-backward-branch
'
