# GitIgnore for Nebula Engine

# Build Directory
/build/

# compile_commands.json
/compile_commands.json

# Build Cache
/.cache/

# MacOS .DS_Store
.DS_Store

# For now, don't include the docs folder
/docs/
!/docs/doxygen-awesome.css
