# Build Files
/build/
/compile_commands.json
# Buildscript cache
/util/config/cache.json

# For Mac users
.DS_Store

# Cache and runtime files
/.cache/
# Copied libs for runtime linking
/run/lib/

# Intermediate files
# Precompiled Headers
*.pc
# Compiled Object files
*.o
