[submodule "vendor/benchmark"]
	path = vendor/benchmark
	url = https://github.com/google/benchmark
[submodule "Core/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Renderer/vendor/glfw"]
	path = Engine/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Renderer/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "NebulaEngine/vendor/entt"]
	path = Engine/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "NebulaEngine/vendor/stb"]
	path = Engine/vendor/stb
	url = https://github.com/nothings/stb
[submodule "NebulaEngine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/vendor/tracy"]
	path = Engine/vendor/tracy
	url = https://github.com/wolfpld/tracy
[submodule "Editor/ShaderCompiler/vendor/DirectXShaderCompiler"]
	path = Editor/ShaderCompiler/vendor/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler
[submodule "Editor/ShaderCompiler/vendor/SPIRV-Cross"]
	path = Editor/ShaderCompiler/vendor/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
